{
  "env": {
    "browser": true,
    "es6": true,
    "jest": true
  },
  "rules": {
    // "no-console": "error",
    "import/first": "error",
    "react/react-in-jsx-scope": "off",
    "react/prop-types": "off",
    "no-undef": "error",
    "import/no-unresolved": "error"
  },
  "extends": [
    "react-app",
    "react-app/jest",
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:react-hooks/recommended",
    // "airbnb",
    // "airbnb-typescript",
    // "airbnb/hooks",
    "plugin:prettier/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "root": true,
  "plugins": [
    "react",
    "@typescript-eslint",
    "prettier"
  ],
  "parserOptions": {
    "ecmaVersion": "latest",
    "ecmaFeatures": {
      "jsx": true
    },
    "project": "./tsconfig.json"
  },
  "settings": {
    "react": {
      "pragma": "React",
      "version": "detect"
    },
    "import/resolver": {
      "node": {
          "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    }
  }
}